{{ partial "header" . }}

<main>

    <div class="item">

        {{ $.Scratch.Set "link" .RelPermalink }}
        {{ with .Params.repo }}
            {{ $repoHost := default "github" $.Params.repoHost }}
            {{ if eq "github" $repoHost }}
                {{ printf "https://github.com/%s/%s/" $.Site.Params.githubUsername . | $.Scratch.Set "link" }}
            {{ else if eq "gitlab" $repoHost }}
                {{ printf "https://gitlab.com/%s/%s/" $.Site.Params.gitlabUsername . | $.Scratch.Set "link" }}
            {{ else if eq "bitbucket" $repoHost }}
                {{ printf "https://bitbucket.org/%s/%s/" $.Site.Params.bitbucketUsername . | $.Scratch.Set "link" }}
            {{ end }}
        {{ end }}
        {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}
    
        {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subtitle" }}
        {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}
    
        <h4><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h4>
        <h5>{{ $.Scratch.Get "subtitle" }}</h5>
    
    </div>
    

    <br> <div class="text-justify">{{ .Content }}</div>

    <br> <div class="text-center">
        <audio controls>
            <source src="{{ $.Params.podcast_file }}" type="{{ $.Params.podcast_type }}"/>
            Your browser does not support the audio tag.
        </audio>
    </div>

    <br />
    {{ range .Params.tags }}
    <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
    {{ end }}

    <br /><br />
    <p><small>Music: &#171;My First Time&#187; Mary Poppins and the Dubitative Sex Toys Boys</small></p>
    <p><small><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.</small>

    {{ if and .Site.DisqusShortname (not .Params.disableComments) }}

        <h4 class="page-header">Comments</h4>

        {{ template "_internal/disqus.html" . }}

    {{ end }}

</main>

{{ partial "footer.html" . }}
